[submodule "MarsCommonFtc"]
	path = MarsCommonFtc
	url = https://github.com/Mars-Robotics-Association/MarsCommonFtc.git
[submodule "libs/acme-local-maven"]
	path = libs/acme-local-maven
	url = https://github.com/Mars-Robotics-Association/AcmeLocalMaven.git
[submodule "libs/road-runner"]
	path = libs/road-runner
	url = https://github.com/Mars-Robotics-Association/road-runner.git
